#hero{
    max-width: 1280px;
    margin: auto;
}
.pointer-card > .content {
    width: 200px;
    height: 100px;
    top: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    position: relative;
}
  
.pointer-card > .content h1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: #0b0b0b;
}

.pointer-cta > .content {
    width: 200px;
    height: 100px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;

}

.pointer-cta > .content h1 {
    color: #0b0b0b;
    transform: scale(0.95) translate(-80px, -330px);
}
  /* Arrow */
  
.pointer-card > .content > .arrow {
    margin: 0 auto;
    width: 100px;
    transform: rotate(-210deg) scale(0.5) skewX(27deg) translate(130px, -100px);
}

.pointer-cta > .content > .arrow {
    margin: 0 auto;
    width: 100px;
    transform: rotate(270deg) scale(0.3) skew(40deg) translate(300px, 200px);
}


.arrow .curve {
    border: 2px solid #0b0b0b;
    border-color: transparent transparent transparent #0b0b0b;
    height: 360px;
    width: 1200px;
    border-radius: 230px 0 0 150px;
}
  
.arrow .point {
    position: absolute;
    left: 40px;
    top: 315px;
}
  
.arrow .point:before, .arrow .point:after {
    border: 1px solid #0b0b0b;
    height: 25px;
    content: "";
    position: absolute;
}
  
.arrow .point:before {
    top: -11px;
    left: -11px;
    -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);  
    transform:rotate(-74deg);
}
  
.arrow .point:after {
    top: -20px;
    left: 5px;
    -webkit-transform: rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform: rotate(12deg);
    transform:rotate(12deg);
}
